.overlay {
  position: fixed;

  inset: 0;

  margin-top: var(--header-height);

  background-color: #1b1a19;

  z-index: 1;
}

.content {
  display: grid;
  grid-template-columns: 60fr 40fr;

  height: 100%;

  overflow: hidden;
}

.imageWrapper {
  display: flex;

  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.imageWrapper img {
  max-height: 70%;
}

.controls {
  display: flex;
  flex-direction: column;

  margin-right: 56px;

  align-self: center;
}

.prompt {
  line-height: 28px;
  text-overflow: ellipsis;
  white-space: normal;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.date {
  padding-top: 8px;

  font-size: 11px;

  opacity: 0.8;
}

.buttons {
  display: grid;
  grid-template-columns: auto auto 1fr;

  column-gap: 16px;

  padding: 12px 0 16px 0;
}
