.app {
  position: fixed;

  inset: 0;

  background-color: #1b1a19;

  color: #fff;
  font-family: 'Roboto',Helvetica,sans-serif;

  z-index: 100;

  --header-height: 90px;
}

.mainScroll {
  height: 100%;

  /* This is technically wrong, but every use except the first one will have images that cause it to scroll, */
  /* so this just fixes the right side bouncing issue in advance */
  overflow-y: scroll;

  scrollbar-gutter: stable;
}

.disabled {
  overflow: hidden;
}